

# Cartesia (STT/TTS) API KEY - API MENTIONED HERE IS JUST FOR EXAMPLE IT WILL NOT WORK
CARTESIA_API_KEY=CARTESIA_API_KEY  


# Do not touch these voice ids
CARTESIA_VOICE_ID_ADVERTISING=6ccbfb76-1fc6-48f7-b71d-91ac6298247b
CARTESIA_VOICE_ID_CONVERSATIONAL=6ccbfb76-1fc6-48f7-b71d-91ac6298247b
CARTESIA_VOICE_ID_EMOTIVE=41468051-3a85-4b68-92ad-64add250d369
CARTESIA_VOICE_ID_ENTERTAINMENT=ed81fd13-2016-4a49-8fe3-c0d2761695fc


# Deepgram (STT/TTS) API KEY - API MENTIONED HERE IS JUST FOR EXAMPLE IT WILL NOT WORK
DEEPGRAM_API_KEY=DEEPGRAM_API_KEY

# OpenAI (STT/LLM/TTS/Realtime) API KEY - API MENTIONED HERE IS JUST FOR EXAMPLE IT WILL NOT WORK
OPENAI_API_KEY= OPENAI_API_KEY
OPENAI_MODEL=gpt-4o-mini


